.Dashboard {
    position: relative;
    z-index: 4;
}

@media (max-width: 768px) {
    .Dashboard {
        height: 128px;
        width: 100%;

        .header {
            position: relative;

        }

        .horizontal-menu {
            display: flex;
            align-items: center;
            position: relative;
            transform:translateY(-130px);
            left: 20px;
            margin-bottom: 0px;

        }
    }
}