.ChartMenu {
    position: relative;
    width: 300px;
    height: 650px;
    border: 1px solid black;
    background-color: rgb(248, 245, 245);
    border-radius: 20px;
    border: none;
    top: 150px;
    right: 50px;
    left: 5px;
    bottom: 100px;
    border-width: 0;
    .Tittle {
    position: absolute;
    left: 24px;
    color: black;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
   }
  
    .Chart-menu-btn  {
    position: relative;
    font-size: 18px;
    color: black;
    top:60px;
    margin-top: 30px;
    
    right:40px ;
    cursor: pointer;
      .vertical-line  {
      height: 30px;
      width: 2px;
      margin-right: 10px;
      top: 50px;
      left: 35px;
      opacity: 0.3;
      z-index: 1; 
      }
    }
  .payment-link-btn{
        top: 100px;
        color: rgb(233, 10, 10);
    }
  .Chart-menu-btn-active{
    color: orange;
    .childText{
    font-size: 14px;
      }
    .vertical-line  {
    position: relative;
    color: orange;
    height:30px;
    width: 2px;
    margin-right: 10px;
    top: 50px;
    left: 35px;
    opacity: 0;
    z-index: 3;
      }
    }
    
   .backgroundLine {
    position: absolute;
    height: 57%;
    width: 2px;
    background-color: gray;
    margin-right: 10px;
    top: 10%;
    left: 35px;
    opacity: 1;
    z-index: 2;
    }
}