.horizontal-menu {
  display: flex;
  align-items: center;
  position: relative;
  width: 1280px;
  height: 100px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  border: none;
  border-width: 0;
  .button-group {
    position: absolute;
    left: 23px;
    top: 31px;
    display: flex;
    justify-content: center;
    .horizontal-menu-link {
      text-decoration: none;
      color: black;
      .horizontal-menu-btn {
        width: 120px;
        height: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 550;
        line-height: normal;
        letter-spacing: 0.28px;
        margin-left: 8px;
      }
      .horizontal-menu-btn-active{
        background-color: #ff6966;
        color: white;
      }
    }
    .menu-container {
      text-align: center;
    }
    .dropdown-list {
      height: 150px; 
      min-width: 180px;
      position: absolute;
      overflow: hidden;
      z-index: 0;  
      text-align: left;
    }
    nav {
      ul {
        list-style: none;
        margin-top: -2px;
        margin-left: 2px;
        font-family: "Nunito Sans", sans-serif;
      }
    }
    
    .dropdown {
      display: inline-block;
      background-color: transparent;
      color: black;
      cursor: pointer;
      border: none;
      font-style: normal;
      font-size: 14px;
      font-weight: 550;
      line-height: normal;
      letter-spacing: 0.28px;
      
      
      a {
        display: block;
        padding: 0 16px;
        line-height: inherit;
        cursor: pointer;
      }
    }
      
    .dropdown-menu {
      line-height: 45px;
      
    }
      
    .dropdown-menu-item {
      display: inline-block;
      position: relative;
    
      &:hover {
        background-color: transparent;
        color: black;
        .nav__submenu {
          display: block;
          background-color: white;
        }
      }
    }
        
    .nav__submenu {
      font-weight: 300;
      text-transform: none;
      display: none;
      position: absolute;
      width: 90px;
      background-color: white;
      margin-left:-40px ;
      
    }
        
    .nav__submenu-item {
      &:hover {
        background: rgba(#000, 0.1);
      }
    }
    .dropdown-svg{
      margin-top: 18px;
      margin-left: -10px;
    }
    .developers{
      width: 120px;
      height: 40px;
      text-decoration: none;
      color: black;
      background-color: transparent;
      border-radius: 10px;
      border: none;
      margin-left: 77px;
      margin-top: -1px;
    }
    .test-mode{
      margin-left: -11px;
      margin-top: 0px;
    }
    .switch-button {
      margin-left: -13px;
      margin-top: -14px;
      transform: scale(1.3,1.6) ;
      .MuiSwitch-thumb {
        width: 16px;
        height: 13px;
        margin-top: 4px;
        margin-left:5px;
      }
      .MuiSwitch-root {
        display: flex;
        align-items: center;
      }
      .MuiSwitch-switchBase {
        padding: 8px;
      }
      .MuiSwitch-track {
        border-radius: 20px;
        background-color: #DCE0ED;
      }
    }  
  }
}




