.HorizontalMenu{
    position: relative;
    width: 1280px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    border: none;
    top:218px;
    right: 80px;
    left: 80px;
    bottom: 706px;
    border-width: 0;
  }

  .ButtonGroup {
    position: absolute;
    left: 23px;
    top: 31px;
    display: flex;
    justify-content: center;
  }
  
  .Button {
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  
    &.ButtonHome {
      margin-left: 1px;
    }
    &.ButtonPayments {
      margin-left: 8px;
    }
    &.ButtonCustomers {
      margin-left: 24px;
    }
    &.ButtonProducts {
      margin-left: 19px;
    }
    &.ButtonReports {
      margin-left: 10px;
    }
    &.ButtonConnect {
      margin-left: 10px;
    }
    &.ButtonPrimary {
      background-color: red;
      color: white;
    }
    &.Developers {
      margin-left: 62px;
    }
    &.TestMode {
      margin-left: -19px;
    }
  }
  .Dropdown{
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
.SwitchButton {
  margin-left: -13px;
  transform: scale(1.3,1.6) !important;
  .MuiSwitch-thumb {
    width: 16px;
    height: 13px;
    margin-top: 4px;
    margin-left:5px;
  }
  .MuiSwitch-root {
    display: flex;
  align-items: center;
  }
  .MuiSwitch-switchBase {
    padding: 8px;
  }
  .MuiSwitch-track {
  border-radius: 20px;
  background-color: #DCE0ED;
}
}




