.horizontal-menu {
  display: flex;
  align-items: center;
  position: relative;
  width: 1280px;
  height: 100px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  border: none;
  
  border-width: 0;
  .button-group {
    position: absolute;
    left: 23px;
    top: 31px;
    display: flex;
    justify-content: center;
    .horizontal-menu-link {
      text-decoration: none;
      color: black;
      .horizontal-menu-btn {
        width: 120px;
        height: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 550;
        line-height: normal;
        letter-spacing: 0.28px;
      }
      .horizontal-menu-btn-active{
        background-color: #ff6966;
        color: white;
      }
      .Home {
        margin-left: 1px;
      }
      .Payments {
        margin-left: 12px;
      }
      .Customers {
        margin-left: 14px;
      }
      .Products {
        margin-left: 12px;
      }
      .Reports {
        margin-left: 12px;
      }
      .Connect {
        margin-left: 14px;
      }
    }
    .Dropdown{
      width: 120px;
      height: 40px;
      background-color: transparent;
      color: black;
      cursor: pointer;
      border-radius: 10px;
      border: none;
      font-family: "Nunito Sans", sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 550;
      line-height: normal;
      letter-spacing: 0.28px;
    }
    .developers{
      width: 120px;
      height: 40px;
      text-decoration: none;
      color: black;
      background-color: transparent;
      border-radius: 10px;
      border: none;
      margin-left: 64px;
      margin-top: -1px;
    }
    .test-mode{
      margin-left: -13px;
      margin-top: 0px;
    }
    .switch-button {
      margin-left: -13px;
      margin-top: -22px;
      transform: scale(1.3,1.6) !important;
      .MuiSwitch-thumb {
        width: 16px;
        height: 13px;
        margin-top: 4px;
        margin-left:5px;
      }
      .MuiSwitch-root {
        display: flex;
        align-items: center;
      }
      .MuiSwitch-switchBase {
        padding: 8px;
      }
      .MuiSwitch-track {
        border-radius: 20px;
        background-color: #DCE0ED;
      }
    }  
  }
}
