.HorizontalMenuResponsive {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 4;
    font-family: "Nunito Sans", sans-serif;
    .menu-exit{
        display: flex;
        position: relative;
        margin-bottom: 42px;
        margin-top: 28px;
        margin-left: 348px;
    }
    .user-switch-and-button {
        display: flex;
        font-size: 12px;

        .user-switch {
            position: relative;
            margin-right: 50px;
            margin-bottom: 39px;
            background-color: transparent;
            color: #0C1E5B;
            height: 48px;
            width: 168px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            border: none;

            .user-switch-content {
                width: inherit;
                display: flex;
                justify-content: space-evenly;

                .user-switch-text {
                    display: flex;

                    .name-user-text {
                        position: relative;
                        margin-right: 10px;
                    }
                }
            }

        }

        .activate-button {
            display: inline;
            border: none;
            background-color: #A4D8F7;
            color: #0C1E5B;
            width: 166px;
            height: 48px;
            border-radius: 10px;
        }
    }

    .button-group-responsive {
        position: relative;
        display: inline;
        width: 120px;

        .horizontal-menu-scope {
            width: 120px;
            position: relative;
            margin-left: 40px;
            margin-bottom: 13px;

            .horizontal-menu-link {
                text-decoration: none;
                color: black;
                justify-content: flex-start;

                .horizontal-menu-btn {
                    height: 40px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.28px;
                }

                .horizontal-menu-btn-active {
                    color: #ff6966;
                }
            }
        }

        .dropdown-list {
            height: 150px;
            min-width: 180px;
            position: absolute;
            overflow: hidden;
            z-index: 0;
            text-align: left;
            justify-content: flex-start;

        }

        nav {
            ul {
                list-style: none;
                margin-top: -2px;
                margin-left: 2px;
            }
        }

        .dropdown {
            position: relative;
            margin-left: -15px;
            margin-bottom: 0px;
            display: flex;
            background-color: transparent;
            color: black;
            border: none;
            font-style: normal;
            font-size: 14px;
            font-weight: 550;
            line-height: normal;
            letter-spacing: 0.28px;
            justify-content: flex-start;
            

            a {
                display: block;
                padding: 0 16px;
                line-height: inherit;
                cursor: pointer;
            }
        }

        .dropdown-menu {
            line-height: 45px;

        }

        .dropdown-menu-item {
            background-color: transparent;
            display: inline-block;
            position: relative;
            justify-content: flex-start;
            font-size: 24px;
            .dropdown-svg {
                position: relative;
                top: -3px;
                left: 9px;
                &.dropdown-svg-active {
                   transform: rotate(180deg);
                }
            }
            &:hover {
                background-color: transparent;
                color: black;

                .nav__submenu {
                    display: block;
                    z-index: 2;
                }
            }
        }

        .nav__submenu {
            font-weight: 300;
            text-transform: none;
            display: none;
            position: absolute;
            width: 90px;
            background-color: white;
            margin-left: -40px;

        }

        .nav__submenu-item {
            &:hover {
                background: rgba(#000, 0.1);
            }
        }

        

    }

    .horizontal-switch {
        position: relative;
        margin-top: 210px;
        display: flex;
        height: 40px;
        background-color: white;
        font-style: normal;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.28px;
        
        .developers {
            width: 120px;
            height: 40px;
            text-decoration: none;
            color: black;
            background-color: transparent;
            border: none;
            margin-left: 15px;
           
            font-style: normal;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.28px;
        }

        .test-mode {
            margin-left: 10px;
            margin-top: 11px;
        }

        .switch-button {
            margin-left: 8px;
     
            transform: scale(1.3, 1.6);

            .MuiSwitch-thumb {
                position: relative;
                width: 16px;
                height: 13px;
                margin-top: 4px;
                margin-left: 5px;
            }

            .MuiSwitch-root {
                display: flex;
                align-items: center;
            }

            .MuiSwitch-switchBase {
                padding: 8px;
            }

            .MuiSwitch-track {
                border-radius: 20px;
                background-color: #DCE0ED;
            }
        }
    }
    .icon-bar{
        display:flex;
        position: relative;
        margin-left: 40px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .HorizontalMenuResponsive {
        display: none;
    }
}