.Header {
    display: block;
    margin-bottom: 37px;

    .logo-hint {
        display: flex;
        justify-content: space-between;

        .active-page-hint {
            display: none;
            margin-left: 51px;
            margin-top: 50px;
            color: #0C1E5B;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
        }

        .logo {
            margin-left: 5px;
            margin-top: 81px;
            height: 30px;
        }

        .beta-hint {
            margin-top: 67px;
            background-color: #A4D8F7;
            color: #0C1E5B;
            font-size: 10px;
            width: 85px;
            height: 26px;
        }
    }

    .tool-bar {
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
        height: 48px;

        .main-tool-bar {
            display: flex;

            .user-switch {
                background-color: #FFFFFF;
                color: #0C1E5B;
                height: inherit;
                width: 168px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .user-switch-content {
                    width: inherit;
                    display: flex;
                    justify-content: space-evenly;
                }
            }

            .activate-button {
                margin-left: 100px;
                background-color: #A4D8F7;
                color: #0C1E5B;
                height: inherit;
                width: 168px;
            }

            .search-frame {
                position: relative;
                margin-left: 18px;
                display: flex;
                width: 501px;

                .search-input {
                    border-style: none;
                    border-radius: 10px;
                    width: inherit;
                    height: inherit;
                }

                .search-button {
                    position: absolute;
                    right: 0px;
                    height: inherit;
                    background-color: transparent;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            .create-button {
                margin-left: 20px;
                background-color: #FF6966;
                color: #FFFFFF;
                height: inherit;
                width: 106px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }

        .icon-bar {
            margin-top: 11px;
            display: flex;
            justify-content: space-between;
            height: 18px;
            width: 184px;
        }
    }

    button {
        border-style: none;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px;
    }
}

@media all and (max-width: 768px) {

    .Header {
        .logo-hint {
            .active-page-hint {
                display: block;
            }

            .logo {
                margin-top: 10px;
            }

            .beta-hint {
                margin-right: 18px;
                margin-top: 50px;
            }
        }

        .tool-bar {
            margin-top: 18px;
            height: 36px;

            .main-tool-bar {
                width: 100%;

                .user-switch {
                    display: none;
                }

                .activate-button {
                    display: none;
                }

                .search-frame {
                    margin-right: 18px;
                    width: 100%;

                    .search-button {
                        height: 36px;

                        .search-text {
                            display: none;
                        }
                    }
                }

                .create-button {
                    display: none;
                }
            }

            .icon-bar {
                display: none;
            }
        }
    }
}